@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación de fade-in-down */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación de fade-in-up */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

/* Animación de pulso */
@keyframes pulse {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.05);
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Animación de zoomPan más rápida */
@keyframes zoomPan {
  0% {
    background-size: 100% auto;
    background-position: 50% 50%;
  }

  50% {
    background-size: 115% auto;
    background-position: 52% 52%;
  }

  100% {
    background-size: 100% auto;
    background-position: 50% 50%;
  }
}

/* Aplicación de la animación zoomPan más rápida */
.hero-background {
  background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D');
  background-blend-mode: overlay;
  background-size: 100% auto;
  background-position: center;
  animation: zoomPan 15s ease-in-out infinite;
}

@media (max-width: 768px) {
  .hero-background {
    background-size: 150% auto;
  }
}