@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos específicos para el componente Home */
.hero-background {
  background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D');
  background-blend-mode: overlay;
}

@media (max-width: 768px) {
  .hero-background {
    background-size: 200% auto;
  }
}


/* Estilos específicos para el componente Cities */
.hero-background-cities {
  background-image: url('https://i.pinimg.com/originals/38/10/b3/3810b3d0436dfa7b7c5bdd336fc8834c.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Estilos específicos para el componente CityCarousel */
.hero-background-cities::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}